* {
    padding: 0px;
    margin: 0px;
}

.btn {
    font-family: "Alegreya Sans";
    font-size: 17px;
}

button {
    cursor: pointer;
}

h4 {
    margin-bottom: 15px;
    /* color: #686868; */
    font-family: 'Alegreya SC';
    font-size: 17px;
}

p {
    line-height: 1.86em;
}


/* -----------------------------
   -------- Information --------
   ----------------------------- */


/* -----------------------------
   --------   Footer    --------
   ----------------------------- */